body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-85px;
  width:1336px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u24347 {
  border-width:0px;
  position:absolute;
  left:85px;
  top:149px;
  width:1336px;
  height:120px;
}
#u24348_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u24348 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u24348 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u24348_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u24349_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u24349 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:0px;
  width:100px;
  height:40px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u24349 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u24349_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u24350_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:40px;
}
#u24350 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:0px;
  width:60px;
  height:40px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u24350 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u24350_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u24351_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:40px;
}
#u24351 {
  border-width:0px;
  position:absolute;
  left:260px;
  top:0px;
  width:60px;
  height:40px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u24351 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u24351_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u24352_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:40px;
}
#u24352 {
  border-width:0px;
  position:absolute;
  left:320px;
  top:0px;
  width:60px;
  height:40px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u24352 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u24352_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u24353_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:40px;
}
#u24353 {
  border-width:0px;
  position:absolute;
  left:380px;
  top:0px;
  width:60px;
  height:40px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u24353 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u24353_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u24354_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:40px;
}
#u24354 {
  border-width:0px;
  position:absolute;
  left:440px;
  top:0px;
  width:60px;
  height:40px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u24354 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u24354_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u24355_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:40px;
}
#u24355 {
  border-width:0px;
  position:absolute;
  left:500px;
  top:0px;
  width:60px;
  height:40px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u24355 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u24355_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u24356_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:40px;
}
#u24356 {
  border-width:0px;
  position:absolute;
  left:560px;
  top:0px;
  width:60px;
  height:40px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u24356 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u24356_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u24357_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:40px;
}
#u24357 {
  border-width:0px;
  position:absolute;
  left:620px;
  top:0px;
  width:60px;
  height:40px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u24357 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u24357_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u24358_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:40px;
}
#u24358 {
  border-width:0px;
  position:absolute;
  left:680px;
  top:0px;
  width:60px;
  height:40px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u24358 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u24358_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u24359_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:40px;
}
#u24359 {
  border-width:0px;
  position:absolute;
  left:740px;
  top:0px;
  width:60px;
  height:40px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u24359 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u24359_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u24360_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:40px;
}
#u24360 {
  border-width:0px;
  position:absolute;
  left:800px;
  top:0px;
  width:60px;
  height:40px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u24360 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u24360_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u24361_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:40px;
}
#u24361 {
  border-width:0px;
  position:absolute;
  left:860px;
  top:0px;
  width:60px;
  height:40px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u24361 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u24361_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u24362_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:40px;
}
#u24362 {
  border-width:0px;
  position:absolute;
  left:920px;
  top:0px;
  width:69px;
  height:40px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u24362 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u24362_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u24363_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:40px;
}
#u24363 {
  border-width:0px;
  position:absolute;
  left:989px;
  top:0px;
  width:80px;
  height:40px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u24363 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u24363_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u24364_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:40px;
}
#u24364 {
  border-width:0px;
  position:absolute;
  left:1069px;
  top:0px;
  width:105px;
  height:40px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u24364 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u24364_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u24365_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:40px;
}
#u24365 {
  border-width:0px;
  position:absolute;
  left:1174px;
  top:0px;
  width:80px;
  height:40px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u24365 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u24365_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u24366_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:40px;
}
#u24366 {
  border-width:0px;
  position:absolute;
  left:1254px;
  top:0px;
  width:82px;
  height:40px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u24366 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u24366_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u24367_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u24367 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:40px;
  width:100px;
  height:40px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u24367 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u24367_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u24368_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u24368 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:40px;
  width:100px;
  height:40px;
  display:flex;
}
#u24368 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u24368_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u24369_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:40px;
}
#u24369 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:40px;
  width:60px;
  height:40px;
  display:flex;
  text-align:right;
}
#u24369 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u24369_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u24370_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:40px;
}
#u24370 {
  border-width:0px;
  position:absolute;
  left:260px;
  top:40px;
  width:60px;
  height:40px;
  display:flex;
  text-align:right;
}
#u24370 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u24370_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u24371_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:40px;
}
#u24371 {
  border-width:0px;
  position:absolute;
  left:320px;
  top:40px;
  width:60px;
  height:40px;
  display:flex;
  text-align:right;
}
#u24371 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u24371_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u24372_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:40px;
}
#u24372 {
  border-width:0px;
  position:absolute;
  left:380px;
  top:40px;
  width:60px;
  height:40px;
  display:flex;
  text-align:right;
}
#u24372 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u24372_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u24373_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:40px;
}
#u24373 {
  border-width:0px;
  position:absolute;
  left:440px;
  top:40px;
  width:60px;
  height:40px;
  display:flex;
  text-align:right;
}
#u24373 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u24373_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u24374_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:40px;
}
#u24374 {
  border-width:0px;
  position:absolute;
  left:500px;
  top:40px;
  width:60px;
  height:40px;
  display:flex;
  text-align:right;
}
#u24374 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u24374_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u24375_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:40px;
}
#u24375 {
  border-width:0px;
  position:absolute;
  left:560px;
  top:40px;
  width:60px;
  height:40px;
  display:flex;
  text-align:right;
}
#u24375 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u24375_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u24376_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:40px;
}
#u24376 {
  border-width:0px;
  position:absolute;
  left:620px;
  top:40px;
  width:60px;
  height:40px;
  display:flex;
  text-align:right;
}
#u24376 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u24376_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u24377_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:40px;
}
#u24377 {
  border-width:0px;
  position:absolute;
  left:680px;
  top:40px;
  width:60px;
  height:40px;
  display:flex;
  text-align:right;
}
#u24377 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u24377_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u24378_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:40px;
}
#u24378 {
  border-width:0px;
  position:absolute;
  left:740px;
  top:40px;
  width:60px;
  height:40px;
  display:flex;
  text-align:right;
}
#u24378 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u24378_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u24379_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:40px;
}
#u24379 {
  border-width:0px;
  position:absolute;
  left:800px;
  top:40px;
  width:60px;
  height:40px;
  display:flex;
  text-align:right;
}
#u24379 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u24379_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u24380_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:40px;
}
#u24380 {
  border-width:0px;
  position:absolute;
  left:860px;
  top:40px;
  width:60px;
  height:40px;
  display:flex;
  text-align:right;
}
#u24380 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u24380_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u24381_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:40px;
}
#u24381 {
  border-width:0px;
  position:absolute;
  left:920px;
  top:40px;
  width:69px;
  height:40px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:right;
}
#u24381 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u24381_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u24382_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:40px;
}
#u24382 {
  border-width:0px;
  position:absolute;
  left:989px;
  top:40px;
  width:80px;
  height:40px;
  display:flex;
  text-align:right;
}
#u24382 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u24382_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u24383_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:40px;
}
#u24383 {
  border-width:0px;
  position:absolute;
  left:1069px;
  top:40px;
  width:105px;
  height:40px;
  display:flex;
  text-align:right;
}
#u24383 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u24383_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u24384_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:40px;
}
#u24384 {
  border-width:0px;
  position:absolute;
  left:1174px;
  top:40px;
  width:80px;
  height:40px;
  display:flex;
  text-align:right;
}
#u24384 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u24384_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u24385_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:40px;
}
#u24385 {
  border-width:0px;
  position:absolute;
  left:1254px;
  top:40px;
  width:82px;
  height:40px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#1890FF;
}
#u24385 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u24385_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u24386_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u24386 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:80px;
  width:100px;
  height:40px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u24386 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u24386_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u24387_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u24387 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:80px;
  width:100px;
  height:40px;
  display:flex;
}
#u24387 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u24387_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u24388_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:40px;
}
#u24388 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:80px;
  width:60px;
  height:40px;
  display:flex;
  text-align:right;
}
#u24388 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u24388_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u24389_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:40px;
}
#u24389 {
  border-width:0px;
  position:absolute;
  left:260px;
  top:80px;
  width:60px;
  height:40px;
  display:flex;
  text-align:right;
}
#u24389 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u24389_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u24390_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:40px;
}
#u24390 {
  border-width:0px;
  position:absolute;
  left:320px;
  top:80px;
  width:60px;
  height:40px;
  display:flex;
  text-align:right;
}
#u24390 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u24390_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u24391_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:40px;
}
#u24391 {
  border-width:0px;
  position:absolute;
  left:380px;
  top:80px;
  width:60px;
  height:40px;
  display:flex;
  text-align:right;
}
#u24391 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u24391_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u24392_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:40px;
}
#u24392 {
  border-width:0px;
  position:absolute;
  left:440px;
  top:80px;
  width:60px;
  height:40px;
  display:flex;
  text-align:right;
}
#u24392 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u24392_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u24393_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:40px;
}
#u24393 {
  border-width:0px;
  position:absolute;
  left:500px;
  top:80px;
  width:60px;
  height:40px;
  display:flex;
  text-align:right;
}
#u24393 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u24393_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u24394_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:40px;
}
#u24394 {
  border-width:0px;
  position:absolute;
  left:560px;
  top:80px;
  width:60px;
  height:40px;
  display:flex;
  text-align:right;
}
#u24394 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u24394_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u24395_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:40px;
}
#u24395 {
  border-width:0px;
  position:absolute;
  left:620px;
  top:80px;
  width:60px;
  height:40px;
  display:flex;
  text-align:right;
}
#u24395 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u24395_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u24396_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:40px;
}
#u24396 {
  border-width:0px;
  position:absolute;
  left:680px;
  top:80px;
  width:60px;
  height:40px;
  display:flex;
  text-align:right;
}
#u24396 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u24396_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u24397_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:40px;
}
#u24397 {
  border-width:0px;
  position:absolute;
  left:740px;
  top:80px;
  width:60px;
  height:40px;
  display:flex;
  text-align:right;
}
#u24397 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u24397_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u24398_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:40px;
}
#u24398 {
  border-width:0px;
  position:absolute;
  left:800px;
  top:80px;
  width:60px;
  height:40px;
  display:flex;
  text-align:right;
}
#u24398 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u24398_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u24399_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:40px;
}
#u24399 {
  border-width:0px;
  position:absolute;
  left:860px;
  top:80px;
  width:60px;
  height:40px;
  display:flex;
  text-align:right;
}
#u24399 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u24399_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u24400_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:40px;
}
#u24400 {
  border-width:0px;
  position:absolute;
  left:920px;
  top:80px;
  width:69px;
  height:40px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:right;
}
#u24400 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u24400_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u24401_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:40px;
}
#u24401 {
  border-width:0px;
  position:absolute;
  left:989px;
  top:80px;
  width:80px;
  height:40px;
  display:flex;
  text-align:right;
}
#u24401 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u24401_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u24402_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:40px;
}
#u24402 {
  border-width:0px;
  position:absolute;
  left:1069px;
  top:80px;
  width:105px;
  height:40px;
  display:flex;
  color:#F2F2F2;
  text-align:right;
}
#u24402 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u24402_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u24403_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:40px;
}
#u24403 {
  border-width:0px;
  position:absolute;
  left:1174px;
  top:80px;
  width:80px;
  height:40px;
  display:flex;
  text-align:right;
}
#u24403 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u24403_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u24404_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:40px;
}
#u24404 {
  border-width:0px;
  position:absolute;
  left:1254px;
  top:80px;
  width:82px;
  height:40px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#1890FF;
}
#u24404 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u24404_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u24405_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:764px;
  height:414px;
}
#u24405 {
  border-width:0px;
  position:absolute;
  left:85px;
  top:327px;
  width:764px;
  height:414px;
  display:flex;
}
#u24405 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u24405_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u24406_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u24406 {
  border-width:0px;
  position:absolute;
  left:85px;
  top:101px;
  width:71px;
  height:20px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u24406 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u24406_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u24407_input {
  position:absolute;
  left:0px;
  top:0px;
  width:255px;
  height:25px;
  padding:2px 2px 2px 2px;
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:center;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u24407_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:255px;
  height:25px;
  padding:2px 2px 2px 2px;
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:center;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u24407_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:255px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u24407 {
  border-width:0px;
  position:absolute;
  left:156px;
  top:96px;
  width:255px;
  height:25px;
  display:flex;
  text-align:center;
}
#u24407 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u24407_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:255px;
  height:25px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u24407.disabled {
}
#u24408_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#FC2B2B;
}
#u24408 {
  border-width:0px;
  position:absolute;
  left:153px;
  top:121px;
  width:132px;
  height:18px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#FC2B2B;
}
#u24408 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u24408_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u24409_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:17px;
}
#u24409 {
  border-width:0px;
  position:absolute;
  left:388px;
  top:100px;
  width:17px;
  height:17px;
  display:flex;
  font-family:'anticon', 'anticon Medium', sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:16px;
  color:rgba(0, 0, 0, 0.647058823529412);
}
#u24409 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u24409_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u24410_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:31px;
  background:inherit;
  background-color:rgba(47, 128, 237, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u24410 {
  border-width:0px;
  position:absolute;
  left:1333px;
  top:86px;
  width:88px;
  height:31px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u24410 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u24410_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u24411_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:706px;
  height:7px;
}
#u24411 {
  border-width:0px;
  position:absolute;
  left:129px;
  top:447px;
  width:702px;
  height:3px;
  display:flex;
}
#u24411 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u24411_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u24412_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
}
#u24412 {
  border-width:0px;
  position:absolute;
  left:841px;
  top:435px;
  width:51px;
  height:28px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
}
#u24412 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u24412_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u24413_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:706px;
  height:7px;
}
#u24413 {
  border-width:0px;
  position:absolute;
  left:129px;
  top:503px;
  width:702px;
  height:3px;
  display:flex;
}
#u24413 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u24413_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u24414_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
}
#u24414 {
  border-width:0px;
  position:absolute;
  left:841px;
  top:491px;
  width:51px;
  height:28px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
}
#u24414 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u24414_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
