body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-48px;
  width:1160px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u24415 {
  border-width:0px;
  position:absolute;
  left:48px;
  top:124px;
  width:1100px;
  height:94px;
}
#u24416_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
}
#u24416 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#F2F2F2;
}
#u24416 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u24416_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u24417_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u24417 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:0px;
  width:100px;
  height:30px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#F2F2F2;
}
#u24417 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u24417_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u24418_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u24418 {
  border-width:0px;
  position:absolute;
  left:300px;
  top:0px;
  width:100px;
  height:30px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#F2F2F2;
}
#u24418 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u24418_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u24419_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u24419 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:0px;
  width:100px;
  height:30px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#F2F2F2;
}
#u24419 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u24419_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u24420_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u24420 {
  border-width:0px;
  position:absolute;
  left:500px;
  top:0px;
  width:100px;
  height:30px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#F2F2F2;
}
#u24420 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u24420_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u24421_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u24421 {
  border-width:0px;
  position:absolute;
  left:600px;
  top:0px;
  width:100px;
  height:30px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#F2F2F2;
}
#u24421 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u24421_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u24422_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u24422 {
  border-width:0px;
  position:absolute;
  left:700px;
  top:0px;
  width:100px;
  height:30px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#F2F2F2;
}
#u24422 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u24422_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u24423_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u24423 {
  border-width:0px;
  position:absolute;
  left:800px;
  top:0px;
  width:100px;
  height:30px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#F2F2F2;
}
#u24423 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u24423_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u24424_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u24424 {
  border-width:0px;
  position:absolute;
  left:900px;
  top:0px;
  width:100px;
  height:30px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#F2F2F2;
}
#u24424 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u24424_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u24425_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u24425 {
  border-width:0px;
  position:absolute;
  left:1000px;
  top:0px;
  width:100px;
  height:30px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#F2F2F2;
}
#u24425 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u24425_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u24426_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
}
#u24426 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:200px;
  height:30px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u24426 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u24426_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u24427_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u24427 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:30px;
  width:100px;
  height:30px;
  display:flex;
  text-align:right;
}
#u24427 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u24427_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u24428_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u24428 {
  border-width:0px;
  position:absolute;
  left:300px;
  top:30px;
  width:100px;
  height:30px;
  display:flex;
  text-align:right;
}
#u24428 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u24428_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u24429_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u24429 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:30px;
  width:100px;
  height:30px;
  display:flex;
  text-align:right;
}
#u24429 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u24429_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u24430_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u24430 {
  border-width:0px;
  position:absolute;
  left:500px;
  top:30px;
  width:100px;
  height:30px;
  display:flex;
  text-align:right;
}
#u24430 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u24430_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u24431_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u24431 {
  border-width:0px;
  position:absolute;
  left:600px;
  top:30px;
  width:100px;
  height:30px;
  display:flex;
  text-align:right;
}
#u24431 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u24431_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u24432_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u24432 {
  border-width:0px;
  position:absolute;
  left:700px;
  top:30px;
  width:100px;
  height:30px;
  display:flex;
  text-align:right;
}
#u24432 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u24432_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u24433_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u24433 {
  border-width:0px;
  position:absolute;
  left:800px;
  top:30px;
  width:100px;
  height:30px;
  display:flex;
  text-align:right;
}
#u24433 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u24433_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u24434_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u24434 {
  border-width:0px;
  position:absolute;
  left:900px;
  top:30px;
  width:100px;
  height:30px;
  display:flex;
  text-align:right;
}
#u24434 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u24434_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u24435_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u24435 {
  border-width:0px;
  position:absolute;
  left:1000px;
  top:30px;
  width:100px;
  height:30px;
  display:flex;
  text-align:right;
}
#u24435 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u24435_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u24436_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:34px;
}
#u24436 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:60px;
  width:200px;
  height:34px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u24436 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u24436_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u24437_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:34px;
}
#u24437 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:60px;
  width:100px;
  height:34px;
  display:flex;
  text-align:right;
}
#u24437 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u24437_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u24438_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:34px;
}
#u24438 {
  border-width:0px;
  position:absolute;
  left:300px;
  top:60px;
  width:100px;
  height:34px;
  display:flex;
  color:#FFFFFF;
  text-align:right;
}
#u24438 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u24438_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u24439_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:34px;
}
#u24439 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:60px;
  width:100px;
  height:34px;
  display:flex;
  text-align:right;
}
#u24439 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u24439_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u24440_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:34px;
}
#u24440 {
  border-width:0px;
  position:absolute;
  left:500px;
  top:60px;
  width:100px;
  height:34px;
  display:flex;
  text-align:right;
}
#u24440 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u24440_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u24441_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:34px;
}
#u24441 {
  border-width:0px;
  position:absolute;
  left:600px;
  top:60px;
  width:100px;
  height:34px;
  display:flex;
  color:#FFFFFF;
  text-align:right;
}
#u24441 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u24441_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u24442_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:34px;
}
#u24442 {
  border-width:0px;
  position:absolute;
  left:700px;
  top:60px;
  width:100px;
  height:34px;
  display:flex;
  text-align:right;
}
#u24442 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u24442_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u24443_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:34px;
}
#u24443 {
  border-width:0px;
  position:absolute;
  left:800px;
  top:60px;
  width:100px;
  height:34px;
  display:flex;
  text-align:right;
}
#u24443 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u24443_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u24444_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:34px;
}
#u24444 {
  border-width:0px;
  position:absolute;
  left:900px;
  top:60px;
  width:100px;
  height:34px;
  display:flex;
  text-align:right;
}
#u24444 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u24444_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u24445_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:34px;
}
#u24445 {
  border-width:0px;
  position:absolute;
  left:1000px;
  top:60px;
  width:100px;
  height:34px;
  display:flex;
  text-align:right;
}
#u24445 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u24445_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u24446 {
  border-width:0px;
  position:absolute;
  left:48px;
  top:373px;
  width:1160px;
  height:156px;
}
#u24447_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:30px;
}
#u24447 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:30px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#F2F2F2;
}
#u24447 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u24447_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u24448_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u24448 {
  border-width:0px;
  position:absolute;
  left:250px;
  top:0px;
  width:100px;
  height:30px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#F2F2F2;
}
#u24448 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u24448_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u24449_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u24449 {
  border-width:0px;
  position:absolute;
  left:350px;
  top:0px;
  width:100px;
  height:30px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#F2F2F2;
}
#u24449 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u24449_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u24450_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u24450 {
  border-width:0px;
  position:absolute;
  left:450px;
  top:0px;
  width:100px;
  height:30px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#F2F2F2;
}
#u24450 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u24450_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u24451_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u24451 {
  border-width:0px;
  position:absolute;
  left:550px;
  top:0px;
  width:100px;
  height:30px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#F2F2F2;
}
#u24451 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u24451_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u24452_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
}
#u24452 {
  border-width:0px;
  position:absolute;
  left:650px;
  top:0px;
  width:110px;
  height:30px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#F2F2F2;
}
#u24452 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u24452_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u24453_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u24453 {
  border-width:0px;
  position:absolute;
  left:760px;
  top:0px;
  width:100px;
  height:30px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#F2F2F2;
}
#u24453 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u24453_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u24454_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u24454 {
  border-width:0px;
  position:absolute;
  left:860px;
  top:0px;
  width:100px;
  height:30px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#F2F2F2;
}
#u24454 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u24454_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u24455_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u24455 {
  border-width:0px;
  position:absolute;
  left:960px;
  top:0px;
  width:100px;
  height:30px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#F2F2F2;
}
#u24455 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u24455_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u24456_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u24456 {
  border-width:0px;
  position:absolute;
  left:1060px;
  top:0px;
  width:100px;
  height:30px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#F2F2F2;
}
#u24456 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u24456_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u24457_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:30px;
}
#u24457 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:250px;
  height:30px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#2F80ED;
  text-align:left;
}
#u24457 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u24457_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u24458_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u24458 {
  border-width:0px;
  position:absolute;
  left:250px;
  top:30px;
  width:100px;
  height:30px;
  display:flex;
  text-align:right;
}
#u24458 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u24458_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u24459_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u24459 {
  border-width:0px;
  position:absolute;
  left:350px;
  top:30px;
  width:100px;
  height:30px;
  display:flex;
  text-align:right;
}
#u24459 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u24459_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u24460_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u24460 {
  border-width:0px;
  position:absolute;
  left:450px;
  top:30px;
  width:100px;
  height:30px;
  display:flex;
  text-align:right;
}
#u24460 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u24460_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u24461_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u24461 {
  border-width:0px;
  position:absolute;
  left:550px;
  top:30px;
  width:100px;
  height:30px;
  display:flex;
  text-align:right;
}
#u24461 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u24461_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u24462_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
}
#u24462 {
  border-width:0px;
  position:absolute;
  left:650px;
  top:30px;
  width:110px;
  height:30px;
  display:flex;
  text-align:right;
}
#u24462 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u24462_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u24463_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u24463 {
  border-width:0px;
  position:absolute;
  left:760px;
  top:30px;
  width:100px;
  height:30px;
  display:flex;
  text-align:right;
}
#u24463 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u24463_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u24464_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u24464 {
  border-width:0px;
  position:absolute;
  left:860px;
  top:30px;
  width:100px;
  height:30px;
  display:flex;
  text-align:right;
}
#u24464 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u24464_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u24465_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u24465 {
  border-width:0px;
  position:absolute;
  left:960px;
  top:30px;
  width:100px;
  height:30px;
  display:flex;
  text-align:right;
}
#u24465 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u24465_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u24466_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u24466 {
  border-width:0px;
  position:absolute;
  left:1060px;
  top:30px;
  width:100px;
  height:30px;
  display:flex;
  text-align:right;
}
#u24466 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u24466_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u24467_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:33px;
}
#u24467 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:60px;
  width:250px;
  height:33px;
  display:flex;
  color:#2F80ED;
  text-align:left;
}
#u24467 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u24467_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u24468_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:33px;
}
#u24468 {
  border-width:0px;
  position:absolute;
  left:250px;
  top:60px;
  width:100px;
  height:33px;
  display:flex;
  text-align:right;
}
#u24468 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u24468_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u24469_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:33px;
}
#u24469 {
  border-width:0px;
  position:absolute;
  left:350px;
  top:60px;
  width:100px;
  height:33px;
  display:flex;
  text-align:right;
}
#u24469 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u24469_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u24470_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:33px;
}
#u24470 {
  border-width:0px;
  position:absolute;
  left:450px;
  top:60px;
  width:100px;
  height:33px;
  display:flex;
  text-align:right;
}
#u24470 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u24470_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u24471_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:33px;
}
#u24471 {
  border-width:0px;
  position:absolute;
  left:550px;
  top:60px;
  width:100px;
  height:33px;
  display:flex;
  text-align:right;
}
#u24471 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u24471_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u24472_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:33px;
}
#u24472 {
  border-width:0px;
  position:absolute;
  left:650px;
  top:60px;
  width:110px;
  height:33px;
  display:flex;
  color:#FFFFFF;
  text-align:right;
}
#u24472 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u24472_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u24473_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:33px;
}
#u24473 {
  border-width:0px;
  position:absolute;
  left:760px;
  top:60px;
  width:100px;
  height:33px;
  display:flex;
  text-align:right;
}
#u24473 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u24473_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u24474_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:33px;
}
#u24474 {
  border-width:0px;
  position:absolute;
  left:860px;
  top:60px;
  width:100px;
  height:33px;
  display:flex;
  text-align:right;
}
#u24474 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u24474_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u24475_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:33px;
}
#u24475 {
  border-width:0px;
  position:absolute;
  left:960px;
  top:60px;
  width:100px;
  height:33px;
  display:flex;
  text-align:right;
}
#u24475 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u24475_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u24476_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:33px;
}
#u24476 {
  border-width:0px;
  position:absolute;
  left:1060px;
  top:60px;
  width:100px;
  height:33px;
  display:flex;
  text-align:right;
}
#u24476 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u24476_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u24477_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:30px;
}
#u24477 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:93px;
  width:250px;
  height:30px;
  display:flex;
  color:#2F80ED;
  text-align:left;
}
#u24477 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u24477_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u24478_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u24478 {
  border-width:0px;
  position:absolute;
  left:250px;
  top:93px;
  width:100px;
  height:30px;
  display:flex;
  text-align:right;
}
#u24478 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u24478_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u24479_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u24479 {
  border-width:0px;
  position:absolute;
  left:350px;
  top:93px;
  width:100px;
  height:30px;
  display:flex;
  text-align:right;
}
#u24479 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u24479_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u24480_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u24480 {
  border-width:0px;
  position:absolute;
  left:450px;
  top:93px;
  width:100px;
  height:30px;
  display:flex;
  text-align:right;
}
#u24480 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u24480_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u24481_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u24481 {
  border-width:0px;
  position:absolute;
  left:550px;
  top:93px;
  width:100px;
  height:30px;
  display:flex;
  text-align:right;
}
#u24481 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u24481_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u24482_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
}
#u24482 {
  border-width:0px;
  position:absolute;
  left:650px;
  top:93px;
  width:110px;
  height:30px;
  display:flex;
  text-align:right;
}
#u24482 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u24482_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u24483_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u24483 {
  border-width:0px;
  position:absolute;
  left:760px;
  top:93px;
  width:100px;
  height:30px;
  display:flex;
  text-align:right;
}
#u24483 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u24483_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u24484_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u24484 {
  border-width:0px;
  position:absolute;
  left:860px;
  top:93px;
  width:100px;
  height:30px;
  display:flex;
  text-align:right;
}
#u24484 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u24484_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u24485_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u24485 {
  border-width:0px;
  position:absolute;
  left:960px;
  top:93px;
  width:100px;
  height:30px;
  display:flex;
  text-align:right;
}
#u24485 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u24485_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u24486_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u24486 {
  border-width:0px;
  position:absolute;
  left:1060px;
  top:93px;
  width:100px;
  height:30px;
  display:flex;
  text-align:right;
}
#u24486 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u24486_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u24487_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:33px;
}
#u24487 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:123px;
  width:250px;
  height:33px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u24487 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u24487_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u24488_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:33px;
}
#u24488 {
  border-width:0px;
  position:absolute;
  left:250px;
  top:123px;
  width:100px;
  height:33px;
  display:flex;
  text-align:right;
}
#u24488 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u24488_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u24489_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:33px;
}
#u24489 {
  border-width:0px;
  position:absolute;
  left:350px;
  top:123px;
  width:100px;
  height:33px;
  display:flex;
  color:#FFFFFF;
  text-align:right;
}
#u24489 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u24489_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u24490_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:33px;
}
#u24490 {
  border-width:0px;
  position:absolute;
  left:450px;
  top:123px;
  width:100px;
  height:33px;
  display:flex;
  text-align:right;
}
#u24490 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u24490_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u24491_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:33px;
}
#u24491 {
  border-width:0px;
  position:absolute;
  left:550px;
  top:123px;
  width:100px;
  height:33px;
  display:flex;
  text-align:right;
}
#u24491 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u24491_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u24492_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:33px;
}
#u24492 {
  border-width:0px;
  position:absolute;
  left:650px;
  top:123px;
  width:110px;
  height:33px;
  display:flex;
  color:#FFFFFF;
  text-align:right;
}
#u24492 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u24492_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u24493_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:33px;
}
#u24493 {
  border-width:0px;
  position:absolute;
  left:760px;
  top:123px;
  width:100px;
  height:33px;
  display:flex;
  text-align:right;
}
#u24493 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u24493_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u24494_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:33px;
}
#u24494 {
  border-width:0px;
  position:absolute;
  left:860px;
  top:123px;
  width:100px;
  height:33px;
  display:flex;
  text-align:right;
}
#u24494 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u24494_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u24495_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:33px;
}
#u24495 {
  border-width:0px;
  position:absolute;
  left:960px;
  top:123px;
  width:100px;
  height:33px;
  display:flex;
  text-align:right;
}
#u24495 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u24495_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u24496_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:33px;
}
#u24496 {
  border-width:0px;
  position:absolute;
  left:1060px;
  top:123px;
  width:100px;
  height:33px;
  display:flex;
  text-align:right;
}
#u24496 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u24496_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u24497_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:17px;
}
#u24497 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:161px;
  width:17px;
  height:17px;
  display:flex;
  font-family:'anticon', 'anticon Medium', sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:16px;
  color:rgba(0, 0, 0, 0.647058823529412);
}
#u24497 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u24497_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u24498_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:17px;
}
#u24498 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:411px;
  width:17px;
  height:17px;
  display:flex;
  font-family:'anticon', 'anticon Medium', sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:16px;
  color:rgba(0, 0, 0, 0.647058823529412);
}
#u24498 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u24498_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u24499_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:17px;
}
#u24499 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:191px;
  width:17px;
  height:17px;
  display:flex;
  font-family:'anticon', 'anticon Medium', sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:16px;
  color:rgba(0, 0, 0, 0.647058823529412);
}
#u24499 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u24499_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u24500_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:17px;
}
#u24500 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:500px;
  width:17px;
  height:17px;
  display:flex;
  font-family:'anticon', 'anticon Medium', sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:16px;
  color:rgba(0, 0, 0, 0.647058823529412);
}
#u24500 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u24500_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u24501_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u24501 {
  border-width:0px;
  position:absolute;
  left:48px;
  top:91px;
  width:85px;
  height:20px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u24501 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u24501_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u24502_input {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:25px;
  padding:2px 2px 2px 2px;
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u24502_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:25px;
  padding:2px 2px 2px 2px;
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u24502_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u24502 {
  border-width:0px;
  position:absolute;
  left:133px;
  top:89px;
  width:199px;
  height:25px;
  display:flex;
}
#u24502 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u24502_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:25px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u24502.disabled {
}
#u24503_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u24503 {
  border-width:0px;
  position:absolute;
  left:372px;
  top:91px;
  width:71px;
  height:20px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u24503 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u24503_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u24504_input {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:25px;
  padding:2px 2px 2px 2px;
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u24504_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:25px;
  padding:2px 2px 2px 2px;
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u24504_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u24504 {
  border-width:0px;
  position:absolute;
  left:457px;
  top:89px;
  width:199px;
  height:25px;
  display:flex;
}
#u24504 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u24504_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:25px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u24504.disabled {
}
#u24505_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:31px;
  background:inherit;
  background-color:rgba(47, 128, 237, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u24505 {
  border-width:0px;
  position:absolute;
  left:1060px;
  top:86px;
  width:88px;
  height:31px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u24505 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u24505_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u24506_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u24506 {
  border-width:0px;
  position:absolute;
  left:48px;
  top:337px;
  width:85px;
  height:20px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u24506 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u24506_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u24507_input {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:25px;
  padding:2px 2px 2px 2px;
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u24507_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:25px;
  padding:2px 2px 2px 2px;
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u24507_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u24507 {
  border-width:0px;
  position:absolute;
  left:133px;
  top:335px;
  width:199px;
  height:25px;
  display:flex;
}
#u24507 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u24507_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:25px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u24507.disabled {
}
#u24508_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u24508 {
  border-width:0px;
  position:absolute;
  left:372px;
  top:337px;
  width:71px;
  height:20px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u24508 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u24508_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u24509_input {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:25px;
  padding:2px 2px 2px 2px;
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u24509_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:25px;
  padding:2px 2px 2px 2px;
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u24509_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u24509 {
  border-width:0px;
  position:absolute;
  left:457px;
  top:335px;
  width:199px;
  height:25px;
  display:flex;
}
#u24509 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u24509_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:25px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u24509.disabled {
}
#u24510_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:31px;
  background:inherit;
  background-color:rgba(47, 128, 237, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u24510 {
  border-width:0px;
  position:absolute;
  left:1110px;
  top:326px;
  width:88px;
  height:31px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u24510 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u24510_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
