body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-48px;
  width:1120px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u28643 {
  border-width:0px;
  position:absolute;
  left:48px;
  top:124px;
  width:1120px;
  height:94px;
}
#u28644_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
}
#u28644 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#F2F2F2;
}
#u28644 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u28644_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u28645_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
}
#u28645 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:0px;
  width:110px;
  height:30px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#F2F2F2;
}
#u28645 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u28645_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u28646_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
}
#u28646 {
  border-width:0px;
  position:absolute;
  left:310px;
  top:0px;
  width:110px;
  height:30px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#F2F2F2;
}
#u28646 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u28646_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u28647_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u28647 {
  border-width:0px;
  position:absolute;
  left:420px;
  top:0px;
  width:100px;
  height:30px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#F2F2F2;
}
#u28647 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u28647_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u28648_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u28648 {
  border-width:0px;
  position:absolute;
  left:520px;
  top:0px;
  width:100px;
  height:30px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#F2F2F2;
}
#u28648 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u28648_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u28649_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u28649 {
  border-width:0px;
  position:absolute;
  left:620px;
  top:0px;
  width:100px;
  height:30px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#F2F2F2;
}
#u28649 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u28649_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u28650_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u28650 {
  border-width:0px;
  position:absolute;
  left:720px;
  top:0px;
  width:100px;
  height:30px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#F2F2F2;
}
#u28650 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u28650_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u28651_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u28651 {
  border-width:0px;
  position:absolute;
  left:820px;
  top:0px;
  width:100px;
  height:30px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#F2F2F2;
}
#u28651 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u28651_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u28652_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u28652 {
  border-width:0px;
  position:absolute;
  left:920px;
  top:0px;
  width:100px;
  height:30px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#F2F2F2;
}
#u28652 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u28652_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u28653_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u28653 {
  border-width:0px;
  position:absolute;
  left:1020px;
  top:0px;
  width:100px;
  height:30px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#F2F2F2;
}
#u28653 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u28653_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u28654_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
}
#u28654 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:200px;
  height:30px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u28654 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u28654_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u28655_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
}
#u28655 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:30px;
  width:110px;
  height:30px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u28655 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u28655_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u28656_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
}
#u28656 {
  border-width:0px;
  position:absolute;
  left:310px;
  top:30px;
  width:110px;
  height:30px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u28656 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u28656_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u28657_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u28657 {
  border-width:0px;
  position:absolute;
  left:420px;
  top:30px;
  width:100px;
  height:30px;
  display:flex;
  text-align:right;
}
#u28657 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u28657_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u28658_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u28658 {
  border-width:0px;
  position:absolute;
  left:520px;
  top:30px;
  width:100px;
  height:30px;
  display:flex;
  text-align:right;
}
#u28658 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u28658_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u28659_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u28659 {
  border-width:0px;
  position:absolute;
  left:620px;
  top:30px;
  width:100px;
  height:30px;
  display:flex;
  text-align:right;
}
#u28659 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u28659_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u28660_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u28660 {
  border-width:0px;
  position:absolute;
  left:720px;
  top:30px;
  width:100px;
  height:30px;
  display:flex;
  text-align:right;
}
#u28660 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u28660_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u28661_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u28661 {
  border-width:0px;
  position:absolute;
  left:820px;
  top:30px;
  width:100px;
  height:30px;
  display:flex;
  text-align:right;
}
#u28661 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u28661_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u28662_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u28662 {
  border-width:0px;
  position:absolute;
  left:920px;
  top:30px;
  width:100px;
  height:30px;
  display:flex;
  text-align:right;
}
#u28662 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u28662_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u28663_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u28663 {
  border-width:0px;
  position:absolute;
  left:1020px;
  top:30px;
  width:100px;
  height:30px;
  display:flex;
  text-align:right;
}
#u28663 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u28663_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u28664_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:34px;
}
#u28664 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:60px;
  width:200px;
  height:34px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u28664 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u28664_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u28665_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:34px;
}
#u28665 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:60px;
  width:110px;
  height:34px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u28665 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u28665_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u28666_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:34px;
}
#u28666 {
  border-width:0px;
  position:absolute;
  left:310px;
  top:60px;
  width:110px;
  height:34px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u28666 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u28666_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u28667_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:34px;
}
#u28667 {
  border-width:0px;
  position:absolute;
  left:420px;
  top:60px;
  width:100px;
  height:34px;
  display:flex;
  text-align:right;
}
#u28667 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u28667_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u28668_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:34px;
}
#u28668 {
  border-width:0px;
  position:absolute;
  left:520px;
  top:60px;
  width:100px;
  height:34px;
  display:flex;
  color:#FFFFFF;
  text-align:right;
}
#u28668 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u28668_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u28669_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:34px;
}
#u28669 {
  border-width:0px;
  position:absolute;
  left:620px;
  top:60px;
  width:100px;
  height:34px;
  display:flex;
  text-align:right;
}
#u28669 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u28669_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u28670_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:34px;
}
#u28670 {
  border-width:0px;
  position:absolute;
  left:720px;
  top:60px;
  width:100px;
  height:34px;
  display:flex;
  color:#FFFFFF;
  text-align:right;
}
#u28670 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u28670_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u28671_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:34px;
}
#u28671 {
  border-width:0px;
  position:absolute;
  left:820px;
  top:60px;
  width:100px;
  height:34px;
  display:flex;
  text-align:right;
}
#u28671 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u28671_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u28672_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:34px;
}
#u28672 {
  border-width:0px;
  position:absolute;
  left:920px;
  top:60px;
  width:100px;
  height:34px;
  display:flex;
  text-align:right;
}
#u28672 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u28672_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u28673_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:34px;
}
#u28673 {
  border-width:0px;
  position:absolute;
  left:1020px;
  top:60px;
  width:100px;
  height:34px;
  display:flex;
  text-align:right;
}
#u28673 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u28673_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u28674_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u28674 {
  border-width:0px;
  position:absolute;
  left:48px;
  top:91px;
  width:85px;
  height:20px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u28674 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u28674_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u28675_input {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:25px;
  padding:2px 2px 2px 2px;
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u28675_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:25px;
  padding:2px 2px 2px 2px;
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u28675_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u28675 {
  border-width:0px;
  position:absolute;
  left:133px;
  top:89px;
  width:199px;
  height:25px;
  display:flex;
}
#u28675 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u28675_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:25px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u28675.disabled {
}
#u28676_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u28676 {
  border-width:0px;
  position:absolute;
  left:372px;
  top:91px;
  width:71px;
  height:20px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u28676 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u28676_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u28677_input {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:25px;
  padding:2px 2px 2px 2px;
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u28677_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:25px;
  padding:2px 2px 2px 2px;
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u28677_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u28677 {
  border-width:0px;
  position:absolute;
  left:457px;
  top:89px;
  width:199px;
  height:25px;
  display:flex;
}
#u28677 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u28677_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:25px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u28677.disabled {
}
#u28678_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:31px;
  background:inherit;
  background-color:rgba(47, 128, 237, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u28678 {
  border-width:0px;
  position:absolute;
  left:1080px;
  top:86px;
  width:88px;
  height:31px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u28678 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u28678_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u28679_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u28679 {
  border-width:0px;
  position:absolute;
  left:678px;
  top:91px;
  width:71px;
  height:20px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u28679 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u28679_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u28680_input {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:25px;
  padding:2px 2px 2px 2px;
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u28680_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:25px;
  padding:2px 2px 2px 2px;
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u28680_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u28680 {
  border-width:0px;
  position:absolute;
  left:763px;
  top:89px;
  width:199px;
  height:25px;
  display:flex;
}
#u28680 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u28680_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:25px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u28680.disabled {
}
